<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <title>bowuting's Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/blog.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/com.css">
        <link rel="icon" href="/static/img/icon.png">
        <style media="screen">

        #about{
            color: #555;
            cursor: default;
            background-color: #eee;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
        </style>
    </head>
    {include file="../application/index/view/default/public/header.html" /}
    <body>
        <div class="container">

            {include file="../application/index/view/default/public/blogheader.html" /}

            <div class="row">
                <div class="col-sm-12 blog-main">
                    <div class="jumbotron">
                      <!-- <h1>我是谁 我在哪里</h1> -->
                      <p>如果学校改变不了你，老师改变不了你，父母改变不了你，世界改变不了你，那么就让你来改变世界吧！</p>
                      <img src="/static/img/geren.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="well">
                        <dl class="dl-horizontal">
                          <dt>name</dt>
                          <dd>bowuting</dd>
                          <hr>
                          <dt>birth</dt>
                          <dd>1994/01</dd>
                          <hr>
                          <dt>服务器</dt>
                          <dd><a href="https://www.aliyun.com/">阿里云 </a>CPU：1核 内存：1024 MB</dd>
                          <hr>
                          <dt>框架</dt>
                          <dd><a href="http://www.thinkphp.cn/">ThinkPHP5.0</a> <a href="http://www.bootcss.com/">Bootstrap3.3</a></dd>
                          <hr>
                          <dt>联系我</dt>
                          <dd><a href="http://github.com/bowuting">GitHub</a></dd>
                          <dt></dt>
                          <dd><a href="http://weibo.com/bowuting">Weibo</a></dd>
                          <dt></dt>
                          <dd><a href="Mailto:bowuting@qq.com">Email</a></dd>

                        </dl>
                    </div>
                </div>



            </div>
        </div>

</body>

{include file="../application/index/view/default/public/footer.html" /}


</html>
