<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>写文章</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/wangEditor.min.css">
    <link rel="icon" href="/static/img/icon.png">
    <style media="screen">

    </style>
</head>

<body class="container">
    <div class="row">
        <hr>
        <h2 class="text-center">编辑文章</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">

                </div>
                <div class="col-md-4 text-center">
                    <a href="http://bowuting.com" class="btn btn-primary"><i class="glyphicon glyphicon-th"></i>&nbsp;首页</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                    <form action="{:url('update')}" method="post" class="text-center">

                            <input class="text-center" style="width:340px;height:50px;"type="text" name="post_title" value="{$arr['post_title']}" />
                            
                            <input class="text-center" style="width:340px;height:50px;"type="hidden" name="post_id" value="{$arr['post_id']}" />
                            <hr>
                            <textarea name="post_content" id="textarea1" style="width:80%;height:800px;">
                                <p>{$arr['post_content']}</p>
                            </textarea>
                            <hr>
                            <button class="btn btn-success btn-lg" type="submit"><i class="glyphicon glyphicon-circle-arrow-up"></i>&nbsp;提交</button>
                        </form>
                        <hr>
            </div>
        </div>

        </div>



    <script type="text/javascript" src="/static/dist/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/dist/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = new wangEditor('textarea1');
            editor.create();
        });
    </script>

</body>
<div class="blog-footer">
  <p>本作品采用<a href="https://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</p>
  <p>
      Copyright (c) 2015-2016 <a href="http://bowuting.com">bowuting.com</a> Holder All Rights Reserved.

      <a href="http://www.miitbeian.gov.cn/">陕ICP备16001415号-1</a>
  </p>
</div>

</html>
