<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/blog.css"> -->
        <link rel="icon" href="/static/img/icon.png">

        <title></title>
    </head>
    <body class="container">
        <div class="row">

        <h2 class="text-center">管理文章</h2>
        <!-- <hr> -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">

                </div>
                <div class="col-md-4 text-center">
                    <a href="http://bowuting.com" class="btn btn-primary"><i class="glyphicon glyphicon-th"></i>&nbsp;首页</a>
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加文章</a>
                </div>
            </div>
        </div>

        <hr>

            <table class="table table-hover table-bordered text-center">
                    <tr class="info">
                        <td>文章ID</td>
                        <td>文章标题</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>

                    {volist name="data" id="da"}
                        <tr>
                            <td>{$da->getData('post_id')}</td>
                            <td>{$da->getData('post_title')}</td>
                            <td>{$da->getData('create_time')|date="Y-m-d",###}</td>
                            <td><a href="{:url('edit?post_id=' . $da->getData('post_id'))}">编辑</a>
                                &nbsp;&nbsp;<a href="{:url('delete?post_id=' . $da->getData('post_id'))}">删除</a>
                                &nbsp;&nbsp;<a href="{:url('true_delete?post_id=' . $da->getData('post_id'))}">彻底删除</a></td>


                        </tr>
                    {/volist}
            </table>
            {$data->render()}


            <hr>

            <h2 class="text-center">管理留言</h2>

            <table class="table table-hover table-bordered text-center">
                    <tr class="info">
                        <td>留言ID</td>
                        <td>用户名</td>
                        <td>Email</td>
                        <td>内容</td>
                        <td>时间</td>
                        <td>操作</td>
                    </tr>

                    {volist name="msgdata" id="md"}
                        <tr>
                            <td>{$md->getData('msg_id')}</td>
                            <td>{$md->getData('msg_username')}</td>
                            <td>{$md->getData('msg_email')}</td>
                            <td>{$md->getData('msg_content')}</td>
                            <td>{$md->getData('create_time')|date="Y-m-d",###}</td>
                            <td><a href="{:url('msgdelete?post_id=' . $md->getData('msg_id'))}">删除</a>
                                &nbsp;&nbsp;<a href="{:url('true_msg_delete?post_id=' . $md->getData('msg_id'))}">彻底删除</a>
                            </td>
                        </tr>
                    {/volist}
            </table>
            {$msgdata->render()}

            <hr>
            <h2 class="text-center">已删除文章</h2>

            <table class="table table-hover table-bordered text-center">
                    <tr class="info">
                        <td>文章ID</td>
                        <td>文章标题</td>
                        <td>创建时间</td>
                        <td>删除时间</td>
                        <td>操作</td>
                    </tr>

                    {volist name="delete_data" id="deda"}
                        <tr>
                            <td>{$deda->getData('post_id')}</td>
                            <td>{$deda->getData('post_title')}</td>
                            <td>{$deda->getData('create_time')|date="Y-m-d",###}</td>
                            <td>{$deda->getData('delete_time')|date="Y-m-d",###}</td>
                            <td><a href="{:url('regain?post_id=' . $deda->getData('post_id'))}">恢复</a>
                        &nbsp;&nbsp;
                        <a href="{:url('true_delete?post_id=' . $deda->getData('post_id'))}">彻底删除</a></td>

                        </tr>
                    {/volist}
            </table>

            <hr>

            <h2 class="text-center">已删除留言</h2>

            <table class="table table-hover table-bordered text-center">
                    <tr class="info">
                        <td>留言ID</td>
                        <td>用户名</td>
                        <td>Email</td>
                        <td>内容</td>
                        <td>时间</td>
                        <td>删除时间</td>
                        <td>操作</td>
                    </tr>

                    {volist name="delete_msg_data" id="dmd"}
                        <tr>
                            <td>{$dmd->getData('msg_id')}</td>
                            <td>{$dmd->getData('msg_username')}</td>
                            <td>{$dmd->getData('msg_email')}</td>
                            <td>{$dmd->getData('msg_content')}</td>
                            <td>{$dmd->getData('create_time')|date="Y-m-d",###}</td>
                            <td>{$dmd->getData('delete_time')|date="Y-m-d",###}</td>
                            <td><a href="{:url('msg?post_id=' . $dmd->getData('msg_id'))}">恢复</a>
                            &nbsp;&nbsp;<a href="{:url('msgdelete?post_id=' . $dmd->getData('msg_id'))}">彻底删除</a></td>
                        </tr>
                    {/volist}
            </table>

        </div>
    </body>
</html>
