<form class=" form-inline" role="form" action="add_cat" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" name="photo_cat_name"class="form-control" id="exampleInputEmail2" placeholder="相册名称">
            <input type="text" name="photo_cat_content"class="form-control" id="exampleInputEmail2" placeholder="相册描述">
            <label class="" for="exampleInputEmail2"><h4>封面: </h4></label>
            <input class="form-control" type="file" name="cat_img" />
          </div>
          <button type="submit" class="btn btn-success">提交</button>
</form>
<hr>
