<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <title>bowuting's Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/blog.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/com.css">
        <link rel="icon" href="/static/img/icon.png">
        <style media="screen">

        #photo{
            width: inherit;
            color: #555;
            cursor: default;
            background-color: #eee;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
        </style>
    </head>

    {include file="../application/blog/view/default/public/header.html" /}

    <body>
        <div class="container">

            <hr>

            <h2>开发中...</h2>

            <hr>

            {if ( null !== session('name'))}
                {include file="../application/blog/view/default/public/add_cat.html" /}

            {/if}






                <div class="row">
                    {foreach name="data" item="vo" key="k" }

                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="{:url('photo?cat=') . $vo['photo_cat_name']}"><img style="width:210px;height:180px;"src="{$vo['photo_cat_url']}" alt="" /></a>
                        </div>
                        <p class="text-center">
                            {$vo['photo_cat_name']}
                        </p>
                    </div>

                    {/foreach}



                </div>

            </div>
            <hr>




</body>

{include file="../application/blog/view/default/public/footer.html" /}


</html>
